
.details{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
#infos{
    width: 75%;
    max-height: 80%;
    float: right;
    border-style: solid;
    padding: 2%;
    margin-bottom: 10%;
}
#poster{
    max-width: 20%;
    height: auto;
    float: left;
    
}